@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-BoldItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-LightItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "MaterialIcons";
  src: url("asset/fonts/MaterialIcons/MaterialIconsOutlined-Regular.otf")
    format("opentype");
  font-style: normal;
  font-weight: 300;
}

/* Colors and other var*/
:root {
  /* GLOBAL  COLORS  */

  --bg-color: #000000 /*var(--background-color)*/;
  --fg-color: var(--text-color);

  --text-color: var(--ctp-mocha-text-rgb);
  --text-color-alt: var(--background-color);

  --background-color: var(--ctp-mocha-crust-rgb);
  --background-color-alt: var(--text-color);

  --link-color: var(--accent-color);

  --accent-color: var(--ctp-mocha-blue-rgb);
  --scrollbar: var(--accent-color);

  --red: var(--ctp-mocha-red-rgb);
  --maroon: var(--ctp-mocha-maroon-rgb);
  --orange: var(--ctp-mocha-peach-rgb);
  --yellow: var(--ctp-mocha-yellow-rgb);
  --green: var(--ctp-mocha-green-rgb);
  --blue: var(--ctp-mocha-sky-rgb);
  --indigo: var(--ctp-mocha-blue-rgb);
  --violet: var(--ctp-mocha-lavender-rgb);
  --lavender: var(--ctp-mocha-lavender-rgb);
  --black: var(--ctp-mocha-surface0-rgb);
  --white: var(--ctp-mocha-text-rgb);

  /* Catppuccin Mocha Palette */

  --ctp-mocha-rosewater-rgb: rgb(245, 224, 220);
  --ctp-mocha-flamingo-rgb: rgb(242, 205, 205);
  --ctp-mocha-pink-rgb: rgb(245, 194, 231);
  --ctp-mocha-mauve-rgb: rgb(203, 166, 247);
  --ctp-mocha-red-rgb: rgb(243, 139, 168);
  --ctp-mocha-maroon-rgb: rgb(235, 160, 172);
  --ctp-mocha-peach-rgb: rgb(250, 179, 135);
  --ctp-mocha-yellow-rgb: rgb(249, 226, 175);
  --ctp-mocha-green-rgb: rgb(166, 227, 161);
  --ctp-mocha-teal-rgb: rgb(148, 226, 213);
  --ctp-mocha-sky-rgb: rgb(137, 220, 235);
  --ctp-mocha-sapphire-rgb: rgb(116, 199, 236);
  --ctp-mocha-blue-rgb: rgb(137, 180, 250);
  --ctp-mocha-lavender-rgb: rgb(180, 190, 254);
  --ctp-mocha-text-rgb: rgb(205, 214, 244);
  --ctp-mocha-subtext1-rgb: rgb(186, 194, 222);
  --ctp-mocha-subtext0-rgb: rgb(166, 173, 200);
  --ctp-mocha-overlay2-rgb: rgb(147, 153, 178);
  --ctp-mocha-overlay1-rgb: rgb(127, 132, 156);
  --ctp-mocha-overlay0-rgb: rgb(108, 112, 134);
  --ctp-mocha-surface2-rgb: rgb(88, 91, 112);
  --ctp-mocha-surface1-rgb: rgb(69, 71, 90);
  --ctp-mocha-surface0-rgb: rgb(49, 50, 68);
  --ctp-mocha-base-rgb: rgb(30, 30, 46);
  --ctp-mocha-mantle-rgb: rgb(24, 24, 37);
  --ctp-mocha-crust-rgb: rgb(17, 17, 27);

  /* soft colors */

  --red-soft: color-mix(in srgb, var(--red) 15%, transparent);
  --maroon-soft: color-mix(in srgb, var(--maroon) 15%, transparent);
  --orange-soft: color-mix(in srgb, var(--orange) 15%, transparent);
  --yellow-soft: color-mix(in srgb, var(--yellow) 15%, transparent);
  --green-soft: color-mix(in srgb, var(--green) 15%, transparent);
  --blue-soft: color-mix(in srgb, var(--blue) 15%, transparent);
  --indigo-soft: color-mix(in srgb, var(--indigo) 15%, transparent);
  --violet-soft: color-mix(in srgb, var(--violet) 15%, transparent);
  --lavender-soft: color-mix(in srgb, var(--lavender) 15%, transparent);
  --black-soft: color-mix(in srgb, var(--bg-color) 80%, transparent);
  --white-soft: color-mix(in srgb, var(--white) 15%, transparent);

  --fontFamily: "IBM Plex Mono", monospace;
  --fontIcons: MaterialIcons;
  font-feature-settings: "zero" 1;
  --invert: 0;
  --scrollbar: var(--accentColor);

  /* PREFERRED ACCEMT */

  --accentColor: var(--green);
}

body {
  background-color: var(--bg-color);
}

* {
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--fg-color);
  font-family: var(--fontFamily);
  outline-style: none;
  scrollbar-color: #00000000 #00000000;
  /*scrollbar-width: thin;*/
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #00000000;
  margin-bottom: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border-radius: 1em;
}

:hover,
.visible-scrollbar {
  scrollbar-color: var(--scrollbar) #00000000;
}

:hover::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

a {
  border-bottom: 1px solid;
  transition-duration: 0.5s !important;
}

a:hover,
a:active {
  text-decoration: none;
  background-color: var(--accentColor);
  color: var(--black) !important;
  transition-property: background-color !important;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin: 10px 0px;
}

header {
  position: relative;
  display: inline-block;
  padding: 40px;
  /*margin: 10px;*/
  width: 60px;
}

header h1 {
  color: var(--black);
  font-size: 2em;
  letter-spacing: 2px;
  margin: -10px;
}

small {
  font-size: 60%;
}

#rotation {
  text-align: center;
  align: middle;
  width: 20px;
  letter-spacing: 2px;
  -webkit-writing-mode: vertical-lr;
  writing-mode: sideways-lr;
  transform-origin: bottom left;
}

.secondary-header {
  position: relative;
  display: block !important;
  padding: 40px;
  /*margin: 10px;*/
  width: 60px;
}

.secondary-header h2 {
  writing-mode: sideways-lr;
  font-size: 2em;
  text-align: center;
  letter-spacing: 6px;
  color: var(--black);
  margin: -10px;
}

#header-01 {
  background-color: var(--indigo);
}

#header-02 {
  background: var(--maroon);
}

#header-03 {
  background: var(--orange);
}

#header-04 {
  background-color: var(--yellow);
}

#header-05 {
  background: var(--green);
}

#header-06 {
  background: var(--blue);
}

#header-07 {
  background: var(--violet);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

#containerized {
  position: relative;
  display: inline-flex;
  width: 100%;
  margin: 10px auto;
}

.column {
  position: relative;
  /*margin: 10px;*/
  border-width: 4px;
  border-style: solid;
  width: 100%;
}

.column ul {
  column-count: 2;
}

.column#column-01 {
  border-color: var(--indigo);
  background-color: var(--indigo-soft);
}

.column#column-01 a {
  color: var(--indigo) !important;
  border-color: var(--indigo);
}

.column#column-01 a:hover,
.column#column-01 a:active {
  color: var(--black) !important;
  background-color: var(--indigo) !important;
}

.column#column-02 {
  border-color: var(--maroon);
  background-color: var(--maroon-soft);
}

.column#column-02 a {
  color: var(--maroon) !important;
  border-color: var(--maroon);
}

.column#column-02 a:hover,
.column#column-02 a:active {
  color: var(--black) !important;
  background-color: var(--maroon) !important;
}

.column#column-03 {
  border-color: var(--orange);
  background-color: var(--orange-soft);
}

.column#column-03 a {
  color: var(--orange) !important;
  border-color: var(--orange);
}

.column#column-03 a:hover,
.column#column-03 a:active {
  color: var(--black) !important;
  background-color: var(--orange) !important;
}

.column#column-04 {
  border-color: var(--yellow);
  background-color: var(--yellow-soft);
}

.column#column-04 a {
  color: var(--yellow) !important;
  border-color: var(--yellow);
}

.column#column-04 a:hover,
.column#column-04 a:active {
  color: var(--black) !important;
  background-color: var(--yellow) !important;
}

.column#column-05 {
  border-color: var(--green);
  background-color: var(--green-soft);
}

.column#column-05 a {
  color: var(--green) !important;
  border-color: var(--green);
}

.column#column-05 a:hover,
.column#column-05 a:active {
  color: var(--black) !important;
  background-color: var(--green) !important;
}

.column#column-06 {
  border-color: var(--blue);
  background-color: var(--blue-soft);
}

.column#column-06 a {
  color: var(--blue) !important;
  border-color: var(--blue);
}

.column#column-06 a:hover,
.column#column-06 a:active {
  color: var(--black) !important;
  background-color: var(--blue) !important;
}

.column#column-07 {
  border-color: var(--violet);
  background-color: var(--violet-soft);
}

.column#column-07 a {
  color: var(--violet) !important;
  border-color: var(--violet);
}

.column#column-07 a:hover,
.column#column-07 a:active {
  color: var(--black) !important;
  background-color: var(--violet) !important;
}

.content-column {
  min-width: 250px;
  font-size: 1.35em;
  padding: 20px;
  overflow-wrap: anywhere;
}

#blinking {
  font-size: 14px;
  height: 10px;
  padding: 2px;
  color: var(--black);
  background-color: var(--yellow);
  position: relative;
  bottom: 1em;
}

#blinking::before {
  animation: blink 0.5s infinite;
  content: "New!";
}

@keyframes blink {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(1);
  }
}

/* date and time */

#containerized.timestamp-container {
  background-color: var(--black-soft);
  padding: 10px;
  font-size: 1em;
  border-color: var(--green);
  position: sticky;
  top: 20px;
  z-index: 10;
  text-align: center;
}

#timestamp-container {
  width: max-content;
  padding: 4px;
  margin: auto;
}

div#timestamp-container a {
  border: 0;
  background-color: initial;
}

#timestamp-container #time-date {
  color: var(--green);
}

#time-date {
  /*font-family: var(--fontHeader);*/
  font-size: 1.2em;
  font-weight: bold;
}

#dottime {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: -0.5s;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: -0.5s;
}

#hourly-chime-button {
  padding: 5px 10px;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: var(--green);
  background-color: var(--green-soft); /* Verde opacado */
  transition: background-color 0.3s ease;
}

#hourly-chime-button.chime-on {
  background-color: var(--green); /* Verde brillante */
  border: 1px solid var(--green-soft);
  color: var(--black);
}

#hourly-chime-button.chime-off {
  background-color: var(--green-soft); /* Verde opacado */
  border: 1px solid var(--green);
}

.material-icon {
  font-family: var(--fontIcons);
  vertical-align: baseline;
}

/* greeting's time */

.morning {
  color: var(--orange);
}

.afternoon {
  color: var(--yellow);
}

.evening {
  color: var(--indigo);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

.fade-in-faster {
  opacity: 1;
  animation-name: fadeInFasterOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.fade-in-icon {
  opacity: 1;
  animation-name: fadeInIconOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3.5s;
}

@keyframes fadeInFasterOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInIconOpacity {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

/* LAST.FM NOW PLAYING WIDGET */

div#nowPlaying-container {
  transition: all 4s cubic-bezier(1, 0.835, 0, 0.945);
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-width: 4px;
  border-style: solid;
  background-color: var(--red-soft);
  border-color: var(--red);
}

#nowPlaying-container a {
  color: var(--red);
  border: 0 none;
  text-decoration: underline;
}

#nowPlaying-container a:hover,
#nowPlaying-container a:active {
  background-color: var(--red);
}

div#nowPlaying-container #playingInfo p {
  margin: -4 auto;
  padding: 0px;
}

#playingInfo p.playing-now,
#playingInfo p.playing-not {
  text-transform: uppercase;
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  font-size: 1.5em;
  position: relative;
}

#playingInfo p.playing-now:hover,
#playingInfo p.playing-not:hover {
  animation-play-state: paused;
}

span.titleNowPlaying {
  animation: none !important;
  text-transform: lowercase;
  display: block;
  text-align: center;
  background-color: var(--red);
  color: var(--black);
  padding: 4px;
}

span.info-connector {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 300;
  position: relative;
  display: inline-flex;
  margin: 0 1em 0 0.75em;
}

#playingInfo p.playing-not {
  color: var(--red);
  text-transform: lowercase !important;
  font-style: italic;
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
}

p.playing-not a {
  text-decoration: underline;
}

@keyframes scroll-left {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* BARS EQUALIZER */

.bars {
  align-items: flex-end;
  display: inline-flex;
  justify-content: space-between;
  height: 10m;
  margin-bottom: -10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.bars .bar {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: oscillator;
  animation-timing-function: linear;
  width: 1em;
  padding-left: 2px;
  margin-right: 4px;
  background-color: var(--green);
}

.bars .bar.bar1 {
  animation-duration: 400ms;
}

.bars .bar.bar2 {
  animation-duration: 700ms;
}

.bars .bar.bar3 {
  animation-duration: 200ms;
}

@keyframes oscillator {
  0% {
    height: 20%;
    opacity: 0.5;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

/* END EQUALIZER */

@media only screen and (max-width: 720px) {
  .column ul {
    column-count: 1;
  }
}