@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-BoldItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("asset/fonts/IBM Plex Mono/IBMPlexMono-LightItalic.woff2")
    format("woff2");
  font-style: italic;
  font-weight: 300;
}

/* Colors and other var*/
:root {
  /* GLOBAL  COLORS  */
  --bg: #282a36;
  --fg: #f8f8f2;

  --secondaryBg: #44475a;

  --black: #282a36;
  --blue: rgb(98, 114, 164);
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #9580ff;
  --red: #ff5555;
  --white: #f8f8f2;
  --yellow: #f1fa8c;

  --fontFamily: "IBM Plex Mono", monospace;
  font-feature-settings: "zero" 1;
  --invert: 0;
  --scrollbar: var(--accentColor);

  /* PREFERRED ACCEMT */

  --accentColor: var(--green);
}

body {
  background-color: var(--bg);
}

* {
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--fg);
  font-family: var(--fontFamily);
  outline-style: none;
  scrollbar-color: #00000000 #00000000;
  scrollbar-width: thin;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #00000000;
  margin-bottom: 0.75em;
}

::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border-radius: 1em;
}

:hover,
.visible-scrollbar {
  scrollbar-color: var(--scrollbar) #00000000;
}

:hover::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

a {
  border-bottom: 1px solid var(--green);
}

a:hover,
a:active {
  text-decoration: none;
  background-color: var(--accentColor);
  color: var(--black) !important;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin: 10px 0px;
}

header {
  position: relative;
  display: inline-block;
  background: var(--white);
  padding: 40px;
  margin: 10px;
  width: 300px;
}

h1 {
  color: var(--black);
  font-size: 2em;
  letter-spacing: 2px;
}

small {
  font-size: 60%;
}

#rotation {
  text-align: center;
  align: middle;
  width: 20px;
  letter-spacing: 2px;
  -webkit-writing-mode: vertical-lr;
  writing-mode: sideways-lr;
  transform-origin: bottom left;
}

.secondary-header {
  position: relative;
  display: block !important;
  padding: 40px;
  margin: 10px;
}

.secondary-header h2 {
  writing-mode: sideways-lr;
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
}

#header-blogger {
  background: var(--orange);
}

#header-tumblr {
  background: var(--blue);
}

#header-wallets {
  background-color: var(--green);
}

#header-wallets h2 {
  color: var(--black);
}

#header-others {
  background: var(--red);
}

#header-blogger h2 {
  color: var(--black);
}

.container {
  position: relative;
}

.main {
  display: flex;
  direction: flex-column;
  justify-content: flex-start;
  position: relative;
  margin: 20px auto;
  width: 80%;
  overflow: scroll;
}

.column {
  position: relative;
  margin: 10px;
  padding: 10px;
  border: 4px solid var(--pink);
  display: flex;
}

.content-column {
  min-width: 350px;
  font-size: 1.5em;
  padding: 20px;
  overflow-wrap: anywhere;
}

.footer {
  font-size: 90%;
  padding: 0.5em;
  position: relative;
  text-align: center;
  width: 90%;
}

.footer a {
  color: var(--green);
  border: 0 none;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  filter: opacity(1);
}

#footer-inner {
  position: sticky;
  bottom: 1em;
}

#blinking {
  font-size: 14px;
  height: 10px;
  padding: 2px;
  color: var(--black);
  background-color: var(--yellow);
  position: relative;
  bottom: 1em;
}

#blinking::before {
  animation: blink 0.5s infinite;
  content: "New!";
}

@keyframes blink {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

/* LAST.FM NOW PLAYING WIDGET */

div#nowPlaying-container {
  transition: all 4s cubic-bezier(1, 0.835, 0, 0.945);
  width: 90%;
  max-width: 640px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

div#nowPlaying-container #playingInfo p {
  margin: -4 auto;
  padding: 0px;
}

#playingInfo p.playing-now,
#playingInfo p.playing-not {
  text-transform: uppercase;
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  font-size: 1.5em;
  position: relative;
}

#playingInfo p.playing-now:hover,
#playingInfo p.playing-not:hover {
  animation-play-state: paused;
}

span.titleNowPlaying {
  animation: none !important;
  text-transform: lowercase;
  font-style: italic;
  display: block;
  text-align: center;
}

span.info-connector {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 300;
  position: relative;
  display: inline-flex;
  margin: 0 1em 0 0.75em;
}

#playingInfo p.playing-not {
  text-transform: lowercase !important;
  font-style: italic;
  animation: scroll-left 20s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
}

p.playing-not a {
  text-decoration: underline;
}

@keyframes scroll-left {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* BARS EQUALIZER */

.bars {
  align-items: flex-end;
  display: inline-flex;
  justify-content: space-between;
  height: 10m;
  margin-bottom: -10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.bars .bar {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: oscillator;
  animation-timing-function: linear;
  width: 1em;
  padding-left: 2px;
  margin-right: 4px;
  background-color: var(--green);
}

.bars .bar.bar1 {
  animation-duration: 400ms;
}

.bars .bar.bar2 {
  animation-duration: 700ms;
}

.bars .bar.bar3 {
  animation-duration: 200ms;
}

@keyframes oscillator {
  0% {
    height: 20%;
    opacity: 0.5;
  }

  to {
    height: 100%;
    opacity: 1;
  }
}

/* END EQUALIZER */
